<h1>conditions dashboard</h1>
<a href="/conditions" style="color:white;font-size:25px;">See All Conditions</a>
<div>
  <table class="table"><p class="station_title"> breakout by high temperature in 10 degree chunks </p> 
        <tr> <th> range </th> <th> average </th> <th> max </th> <th> min </th> </tr>
        <% Condition.ranges_with_trips(:max_temperature_f, 10).each do |k, v| %>
          <tr>
            <td> <%= k %> </td> <td> <%= v[0] %> </td> <td> <%= v[1] %> </td> <td> <%= v[2] %> </td> 
          </tr>
        <% end %> 
  </table>
</div>
<br>
<div>
  <table class="table"><p class="station_title"> breakout by precipitation in half degree chunks </p> 
        <tr> <th> range </th> <th> average </th> <th> max </th> <th> min </th> </tr>
        <% Condition.ranges_with_trips(:precipitation_inches, 0.5).each do |k, v| %>
          <tr>
            <td> <%= k %> </td> <td> <%= v[0] %> </td> <td> <%= v[1] %> </td> <td> <%= v[2] %> </td> 
          </tr>
        <% end %> 
  </table>
</div>
<br>
<div>
  <table class="table"><p class="station_title"> breakout by mean wind speed in 4 mph chunks </p> 
        <tr> <th> range </th> <th> average </th> <th> max </th> <th> min </th> </tr>
        <% Condition.ranges_with_trips(:mean_wind_speed_mph, 4).each do |k, v| %>
          <tr>
            <td> <%= k %> </td> <td> <%= v[0] %> </td> <td> <%= v[1] %> </td> <td> <%= v[2] %> </td> 
          </tr>
        <% end %> 
  </table>
</div>
<br>
<div>
  <table class="table"><p class="station_title"> breakout by mean visibility in 4 mph chunks </p> 
        <tr> <th> range </th> <th> average </th> <th> max </th> <th> min </th> </tr>
        <% Condition.ranges_with_trips(:mean_visibility_miles, 4).each do |k, v| %>
          <tr>
            <td> <%= k %> </td> <td> <%= v[0] %> </td> <td> <%= v[1] %> </td> <td> <%= v[2] %> </td> 
          </tr>
        <% end %> 
  </table>
</div