<h1><%= @condition.date %></h1>
<p> max_temperature_f : <%= @condition.max_temperature_f %></p>
<p> mean_temperature_f: <%= @condition.mean_temperature_f %></p>
<p> min_temperature_f : <%= @condition.min_temperature_f %></p>
<p> mean_humidity : <%= @condition.mean_humidity %></p>
<p> mean_visibility_miles : <%= @condition.mean_visibility_miles %></p>
<p> max_wind_speed_mph : <%= @condition.max_wind_speed_mph %></p>
<p> precipitation_inches : <%= @condition.precipitation_inches %></p>
