<h1>Trips Overview</h1>

<img class="img-responsive" src="images/bike_share_4.jpg">
<div>
  <br>
</div>

<p><a class="btn btn-primary" href="/trips">All Trips</a></p>

<table class="table table-striped table-hover">

<tr>
  <td><h3> Average Ride Duration</td></h3>
  <td><h3>  <%= Trip.average_duration_of_a_ride %> </td></h3>
</tr>

<tr>
  <td><h3> Longest Ride</td></h3>
  <td><h3>  <%= Trip.longest_ride %> </td></h3>
</tr>

<tr>
  <td><h3> Shortest Ride</td></h3>
  <td><h3>  <%= Trip.shortest_ride %> </td></h3>
</tr>

<tr>
  <td><h3> Station with the Most Starting Rides</td></h3>
  <td><h3><%= Trip.station_with_most_starting_rides.name %></td></h3>
</tr>

<tr>
  <td><h3> Station with the Most Ending Rides</td></h3>
  <td><h3><%= Trip.most_frequent_destination_station.name %></td></h3>
</tr>

</table>
