<h1>Trip Details</1>
<h2>Duration: <%= @trip.duration %></h2>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <h2>Start Date: <%= @trip.start_date %></h2>
    <h2>Start Station: <%= @trip.start_station_id %></h2>
  </div>
  <div class="col-md-6 col-sm-12">
    <h2>End Date: <%= @trip.end_date %></h2>
    <h2>End Station: <%= @trip.end_station_id %></h2>
  </div>
</div>