<h1><%= @trip.duration %></h1>
<p><%= @trip.start_station_id %></p>
<p><%= @trip.end_station_id %></p>
<p><%= @trip.bike_id %></p>
<p><%= @trip.subscription_type %></p>
<p><%= @trip.zip_code %></p>
<p><%= @trip.start_date %></p>
<p><%= @trip.end_date %></p>
