<h1><%= @trip.duration %> minutes long</h1>
<p> start_station_id : <%= @trip.start_station_id %></p>
<p> end_station_id : <%= @trip.end_station_id %></p>
<p> bike_id : <%= @trip.bike_id %></p>
<p> subscription_type : <%= @trip.subscription_type %></p>
<p> zip_code : <%= @trip.zip_code %></p>
<p> start_date : <%= @trip.start_date %></p>
<p> end_date : <%= @trip.end_date %></p>
