<head>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 500px;
        width:500px;
        border-radius:10px;
        margin-top: 20px;
        margin-left:auto;
        margin-right:auto;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>

<div class="col-md-6">
  <h1> station dashboard </h1>
  <h3><p class="station_title"> total stations </p> <%= Station.total_stations %></h3>
  <h3><p class="station_title">average bikes available / station </p> <%= Station.average_bikes_per_station.round(2) %></h3>
  <h3><p class="station_title">most bikes available at a station </p> <%= Station.max_bikes %></h3>
  <h3><p class="station_title">fewest bikes available at a station </p> <%= Station.min_bikes %></h3>
  <h3><p class="station_title">station(s) with most available bikes </p>
    <% Station.station_with_max_bikes.each do |station| %>
      <%= station.name %>
      <span> </span>
    <% end %>
  </h3>
  <h3><p class="station_title">station(s) with fewest available bikes </p>
    <% Station.station_with_min_bikes.each do |station| %>
      <%= station.name %>
      <span> </span>
    <% end %>
  </h3>
  <h3><p class="station_title">newest station(s) </p>
    <% Station.newest.each do |station| %>
      <%= station.name %>
      <span> </span>
    <% end %>
  </h3>
  <h3><p class="station_title">oldest station(s) </p>
    <% Station.oldest.each do |station| %>
      <%= station.name %><span>, </span>
    <% end %>
  </h3>
</div>

<div class="col-md-6">  
  <a href="/stations" style="color:white;font-size:25px;">See All Stations</a>
  <div id="map"></div>
</div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: <%= Station.station_locations[1].to_json %>
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = <%=Station.station_locations.to_json %>
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDisxFtRAEd0eNIvPK7CY82qYdtLROmwjc&callback=initMap">
    </script>
