<div class="titled">
  <h1>All Stations</h1>

  <form action="/stations/new" method="GET">
    <input type="submit" value="Create A New Station"/>
  </form>
</div>
<br>
<% @stations.each do |station| %>
  <div class="station_object col-md-4">
    <h1><%= station.name %></h1>
    <p>Dock Count : <%= station.dock_count %></p>
    <p>Installation Date : <%= station.installation_date %></p>
    <p>City ID: <%= station.city_id %></p>
    <div class="button_row">
      <a class="col-md-4" href="/stations/<%= station.id %>">Details</a>
      <a class="col-md-4" href="/stations/<%= station.id %>/edit">Edit</a>
      <form class="col-md-4 delete_station" action="/stations/<%= station.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>
<% end %>
