
<!DOCTYPE html>
<h1> Station Details <a class = "btn btn-primary" href = "/stations">All Stations</a></h1>

<table class="table table-hover">
  <tr>
    <th class = "bold"> Station Name </th>
    <th class = "bold"> Dock Count </th>
    <th class = "bold"> Installation Date </th>
    <th> </th>
    <th> </th>
  </tr>
  <tr>
    <td><%= @station.name %></td>
    <td><%= @station.dock_count %></td>
    <td><%= @station.installation_date %></td>
    <td><a class="btn btn-warning" href='/stations/<%=@station.id%>/edit'>Update</a></td>

    <td>
      <form action="/stations/<%= @station.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
    </td>
  </tr>
<h3>Rides starting from this station: <%=@station.start_trips.count%></h3>
<h3>Rides ending at this station: <%=@station.end_trips.count%></h3>
<h3>Most frequent destination from here is: <br/>
  <%=@station.most_frequent_destination_station%></h3>
<h3>Most frequent origin station when ending here is: <br/>
  <%=@station.most_frequent_origin_station%></h3>
<h3>Date with highest number of trips starting here: <br/>
  <%=@station.date_with_highest_number_of_trips_started.keys.first%> with #
  <%= @station.date_with_highest_number_of_trips_started.values.first%> trips.
</h3>
<h3>Users leaving this station mostly from the: <%=@station.most_frequent_user_zipcode_as_start_station%> area!</h3>
<h3>Most used bike here is bike #<%=@station.start_trips.bike_most_used_starting%></h3>
</table>
