
<!DOCTYPE html>
<h1> Station Details </h1>
<table class="table table-hover">

<tr>
  <th class = "bold"> Station Name </th>
  <th class = "bold"> Dock Count </th>
  <th class = "bold"> Installation Date </th>
  <th> </th>
  <th> </th>
</tr>
<tr>
  <td><%= @station.name %></td>
  <td><%= @station.dock_count %></td>
  <td><%= @station.installation_date %></td>
  <td><a class="btn btn-warning" href='/stations/<%=@station.id%>/edit'>Update</a></td>

  <td>
    <form action="/stations/<%= @station.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
  </td>
  </tr>

</table>
