<h3><p class="station_title"> weather on the day with the highest rides </p> 
  <% condition_most = Trip.condition_on_day_with_most_rides.id %></h3>
  <p> max_temperature_f : <%= condition_most.max_temperature_f %></p>
  <p> mean_temperature_f: <%= condition_most.mean_temperature_f %></p>
  <p> min_temperature_f : <%= condition_most.min_temperature_f %></p>
  <p> mean_humidity : <%= condition_most.mean_humidity %></p>
  <p> mean_visibility_miles : <%= condition_most.mean_visibility_miles %></p>
  <p> max_wind_speed_mph : <%= condition_most.max_wind_speed_mph %></p>
  <p> precipitation_inches : <%= condition_most.precipitation_inches %></p>

<h3><p class="station_title"> weather on the day with the fewest rides </p> 
<% condition_least = 'frick off' if Trip.condition_on_day_with_least_rides.id.nil? %>
  <% condition_least = Trip.condition_on_day_with_least_rides.id %></h3>
  <p> max_temperature_f : <%= condition_least.max_temperature_f %></p>
  <p> mean_temperature_f: <%= condition_least.mean_temperature_f %></p>
  <p> min_temperature_f : <%= condition_least.min_temperature_f %></p>
  <p> mean_humidity : <%= condition_least.mean_humidity %></p>
  <p> mean_visibility_miles : <%= condition_least.mean_visibility_miles %></p>
  <p> max_wind_speed_mph : <%= condition_least.max_wind_speed_mph %></p>
  <p> precipitation_inches : <%= condition_least.precipitation_inches %></p>